{{define "title"}}Spryker Freelancer & Developer in Hamburg – Christian Kilb{{end}}
{{define "canonical"}}https://kilb.tech/spryker{{end}}

{{ define "intro_text" }}
<p class="mb-3 md:mb-8">
    My name is <strong>Christian Kilb</strong>, and I have more than 20 years of experience in web development.<br />
    Since January 2017, I have been serving my clients as a technical lead, senior & lead developer, specializing in the <strong>Spryker Commerce OS</strong> for enterprise applications.
</p>

<p class="mb-3 md:mb-8">
    I possess extensive expertise in Spryker, and I am widely regarded as a <strong>top performer</strong> in this area.
    <br />
    In the past, I have assisted both Spryker themselves and my clients in addressing critical <strong>security vulnerabilities</strong> and implementing <strong>performance optimizations</strong>.
</p>
<p class="mb-3 md:mb-8">
     <strong>Clean architecture</strong> and code quality are very important to me.<br />
    I prioritize clean programming paradigms, such as composition over inheritance, to ensure that Spryker can be <strong>updated effectively in the long term</strong>.<br />
    Moreover, I enjoy sharing my expertise with colleagues to promote efficient and collaborative teamwork.
</p>

<p class="mb-2">
    If you're seeking someone who can help you in the following areas, then you've come to the right place:
</p>

<ul class="list-disc list-inside">
    <li class="mb-2">
        Supporting your existing development team (in a lead position).
    </li>
    <li class="mb-2">
        Accelerating your development through high-quality implementations.
    </li>
    <li class="mb-2">
        Critically reviewing your requirements and questioning them
    </li>
</ul>
{{ end }}

{{ define "main" }}
{{ template "teaser_intro" . }}
{{ template "project_scroller" . }}

{{ template "projects" . }}
{{ template "contact" . }}

<div class="max-w-6xl mx-auto py-8"
     data-aos="fade-up"
     data-aos-duration="1000">
    <h2 class="text-4xl mb-8 text-center">About Spryker</h2>

    <p class="mb-3">Spryker is a modern, fully modular eCommerce platform designed for enterprise-level businesses that want to create unique and engaging digital experiences for their customers. It is built on a powerful, modular architecture that allows businesses to easily customize and extend the platform to meet their specific needs.</p>
    <p class="mb-3">Spryker provides a wide range of features, including <strong>product management</strong>, <strong>order management</strong>, <strong>customer management</strong>, and <strong>content management</strong>, all of which can be customized and extended with ease. Additionally, it offers a range of integrations with third-party services, including payment providers, shipping providers, and marketing tools, making it a versatile and powerful platform for eCommerce businesses.</p>
    <p class="mb-3">One of the key strengths of Spryker is its flexibility. With a modular architecture and a wide range of customization options, businesses can build their eCommerce platform exactly how they want it, without being limited by pre-existing templates or functionality. This allows businesses to create truly unique and engaging customer experiences that set them apart from their competitors.</p>
    <p class="mb-3">Overall, Spryker is a powerful, modular eCommerce platform that is well-suited for enterprise-level businesses that need a flexible and customizable solution for their digital storefront. Its modular architecture, wide range of features, and flexibility make it a top choice for businesses looking to create engaging, unique digital experiences for their customers.</p>
</div>
{{end}}
