{{ define "projects" }}
<div id="projects">
    {{- range .Projects }}
    <div data-aos="fade-up"
         data-aos-duration="1000"
         class="my-3 md:my-8 p-3 md:p-8 py-5 md:py-14 max-w-6xl mx-auto grid grid-cols-12 gap-x-8 gap-y-14 items-center even:bg-slate-800 group">
        <a class="col-span-5 order-first group-even:order-last text-center"
           href="{{ .Url }}"
           target="_blank">
            <img class="h-12 inline-block"
                 src="static/{{ .LogoFileName }}"
                 alt="{{ .Title }}" title="{{ .Title }}" />
        </a>
        <div class="col-span-7 text-sm opacity-75">
            <p class="mb-3 opacity-75">
                {{ .Description }}
            </p>
            <span class="bold">{{ .Position }}</span>
        </div>
    </div>
    {{ end }}
</div>
{{ end }}
