{{define "title"}}Spryker Freelancer & Developer in Hamburg – Christian Kilb{{end}}

{{ define "intro_text" }}
<p class="mb-3 md:mb-8">
    My name is <strong>Christian Kilb</strong>, and I have more than 20 years of experience in web development.<br />
    Since January 2017, I have been serving my clients as a technical lead, senior & lead developer, specializing in the <strong>Spryker Commerce OS</strong> for enterprise applications.
</p>

<p class="mb-3 md:mb-8">
    I possess extensive expertise in Spryker, and I am widely regarded as a <strong>top performer</strong> in this area.
    <br />
    In the past, I have assisted both Spryker themselves and my clients in addressing critical <strong>security vulnerabilities</strong> and implementing <strong>performance optimizations</strong>.
</p>
<p class="mb-3 md:mb-8">
     <strong>Clean architecture</strong> and code quality are very important to me.<br />
    I prioritize clean programming paradigms, such as composition over inheritance, to ensure that Spryker can be <strong>updated effectively in the long term</strong>.<br />
    Moreover, I enjoy sharing my expertise with colleagues to promote efficient and collaborative teamwork.
</p>

<p class="mb-2">
    If you're seeking someone who can help you in the following areas, then you've come to the right place:
</p>

<ul class="list-disc list-inside">
    <li class="mb-2">
        Supporting your existing development team in a lead position, if needed.
    </li>
    <li class="mb-2">
        Accelerating your development through high-quality implementations.
    </li>
    <li class="mb-2">
        Critically reviewing your requirements and questioning them
    </li>
</ul>
{{ end }}

{{ define "main" }}
{{ template "teaser_intro" . }}
{{ template "project_scroller" . }}

{{ template "projects" . }}
{{ template "contact" . }}
{{end}}
