{{ define "teaser" }}
<div class=" bg-gradient-to-b from-slate-700 to-slate-950 overflow-hidden items-end">
    <div class="max-w-6xl grid gap-1 md:gap-4 grid-cols-12 items-center mx-auto">
        <div class="col-span-5">
            <img data-aos="zoom-out"
                 data-aos-duration="1500"
                 src="static/me.webp"
                 srcset="static/me.webp, static/me-hq.webp 2x"
                 class="max-h-[60vh]"
                 alt="Christian Kilb"
                 title="Christian Kilb"
                 width="512"
                 height="704"/>
        </div>
        <div class="col-span-7 pr-2">
            <h1 class="text-gray-50 text-2xl sm:text-3xl md:text-6xl mb-3 md:mb-5"
                data-aos="fade-up"
                data-aos-duration="1000">{{ .Headline }}</h1>
            <h2 class="animate__delay-1s text-gray-300 text-sm sm:text-xl md:text-2xl md:ml-1"
                data-aos="fade-up"
                data-aos-duration="1000"
                data-aos-delay="500">{{ .SubHeadline }}</h2>
        </div>
    </div>
</div>
{{ end }}
