{{ define "title" }}Christian Kilb – Technical Lead | Software Architect | Developer{{end}}
{{ define "canonical" }}https://kilb.tech{{end}}
{{ define "metadescription" }}With over 20 years of experience in software development, Christian Kilb has acquired a wealth of knowledge in technologies, strategies and leadership.{{end}}

{{ define "intro_text" }}
<p class="mb-8">
    I have <strong>over 20 years of experience</strong> in software development and E-commerce, which has equipped me with a wealth of knowledge in various <strong>technologies, strategies, and leadership</strong>.
    I have the privilege of utilizing this expertise on a daily basis, and it continues to motivate me to excel in my work.
</p>

<p class="mb-8">
    I am intrinsically motivated to deeply comprehend technical concepts and tools, and leverage them in a purposeful and goal-oriented manner to solve problems.
</p>

<p class="mb-8">
    I strive to comprehend systems holistically, as this is the key to executing complex projects in a goal-oriented manner. It is my personal ambition to continuously enhance my knowledge and skills, and be among the foremost professionals in my field.
</p>

<p>
    I take great pleasure in sharing my knowledge and gaining new insights through meaningful exchanges with colleagues and friends. It is a mutually beneficial process that enables us to learn efficient approaches and stay abreast of emerging trends.
</p>
{{ end }}

{{ define "main" }}
{{ template "teaser_intro" dict
    "Headline" "Christian Kilb"
    "SubHeadline" "Technical Lead | Software Architect | Developer"
    "TeaserImage" "teasers/home"
}}
{{ template "scroller" dict "anchor" "projects" }}
{{ template "projects" . }}
{{ template "contact" . }}
{{ end }}
