{{define "title"}}Christian Kilb – Legal Notice / Impressum{{end}}
{{define "canonical"}}https://kilb.tech/legal{{end}}
{{define "metadescription"}}Legal notice (Impressum) for kilb.tech{{end}}

{{define "main"}}
<div class="max-w-6xl mx-auto p-3 pt-8">
    <h1 class="text-2xl mb-5">Impressum</h1>

    <h2 class="text-xl mb-3">Daten gem&auml;&szlig; Abschnitt 5 TMG</h2>

    <p class="mb-3">Christian Kilb</p>

    <p class="mb-3">
        Saseler M&uuml;hlenweg 2<br />
        22395 Hamburg<br />
        Deutschland
    </p>


    <h2 class="text-xl mb-3">Repr&auml;sentiert von:</h2>

    <p class="mb-3">Christian Kilb</p>

    <p class="mb-3"><strong>Kontaktdaten</strong></p>

    <p class="mb-3">Telefon: 0173 / 9763987 (kein Support)</p>

    <p class="mb-3">E-Mail: christian.kilb@gmail.com</p>

    <p class="mb-3">Webseite: https://kilb.tech</p>

    <p class="mb-3">Gerichtsstelle: Hamburg</p>


    <h2 class="text-xl mb-3">Verantwortlichkeit f&uuml;r Inhalte</h2>

    <p class="mb-3">Die Inhalte unserer Webseiten wurden unter gr&ouml;&szlig;ter Sorgfalt erstellt.
        Trotzdem k&ouml;nnen wir nicht garantieren, dass der Inhalt aktuell, zuverl&auml;ssig
        oder komplett ist. Gem&auml;&szlig; den gesetzlichen Vorschriften sind wir f&uuml;r die
        selbst erstellten Inhalte <a href="https://unionberlinnews.de/" target="_blank">fc
            union berlin news</a> verantwortlich. In diesem Zusammenhang m&ouml;chten wir
        klarstellen, das wir nicht verantwortlich sind f&uuml;r Informationen, die von dritten
        Parteien zur Verf&uuml;gung gestellt oder von diesen gesammelt werden. Wir
        kontrollieren weder die Informationen, die versand werden, noch verfolgen wir in
        m&ouml;gliche illegale Aktivit&auml;ten diesen. Werden illegale Aktivit&auml;ten
        festgestellt folgen wir unserer Verpflichtung die entsprechenden Inhalte zu blockieren
        oder zu l&ouml;schen, entsprechend den Paragraphen 8 bis 10 des Telemedia Acts
        (TMG).</p>

    <h2 class="text-xl mb-3">Verantwortlichkeit f&uuml;r Links</h2>

    <p class="mb-3">Die Verantwortung f&uuml;r Inhalte von Links Dritter (externe Inhalte) liegt in der
        Verantwortung der jeweiligen Webseitenbetreiber. Zum Zeitpunkt der Einf&uuml;gung der
        verwendeten Links auf unseren Seiten wurden keine illegalen Aktivit&auml;ten in diesen
        festgestellt. Sobald uns illegale Aktivit&auml;ten oder Verst&ouml;&szlig;e bekannt
        werden, werden wir den entsprechenden Link entfernen.</p>

    <h2 class="text-xl mb-3">Copyright</h2>

    <p class="mb-3">Unsere Webseiten und deren Inhalt (Texte, Fotos, Grafiken, Design) unterliegen dem
        deutschen Urheberrecht. Soweit nicht anderweitig gesetzlich vereinbart unterliegt der
        Nutzen, die Widergabe, Kopie oder die Ver&auml;nderung der Inhalte dem Urheberrecht.
        Ausnahmen m&uuml;ssen schriftlich von den Webseitenbetreibern oder Rechteinhabern
        genehmigt werden. Individuelle Kopien sind nur f&uuml;r den privaten Gebrauch
        gestattet, sie d&uuml;rfen weder direkt noch indirekt f&uuml;r wirtschaftliche Zwecke
        genutzt werden. Der nicht genehmigte Nutzen von unter Urheberrecht gesch&uuml;tztem
        Material ist nach Paragraph 106 strafbar.</p>
</div>
{{ template "projects" . }}
{{ end }}
