{{ define "contact" }}
<div class="px-3 pt-8 bg-slate-800 overflow-hidden"
     id="contact"
     data-aos="fade-up"
     data-aos-duration="1000">
    <div class="max-w-6xl mx-auto text-center">
        <h2 class="text-4xl mb-8">Contact me</h2>
        <div class="grid grid-cols-12 gap-4 items-end">
            <div class="col-span-12 md:col-span-4 order-2 md:order-1 text-center">
                <div class="w-full max-w-[50vw] mx-auto">
                    <img data-aos="zoom-out"
                         data-aos-duration="1500"
                         class="aspect-square rounded-t-xl"
                         src="/static/img/teasers/home.webp"
                         alt="Christian Kilb"
                         title="Christian Kilb"
                         width="1080"
                         height="1080"/>
                </div>
            </div>
            <div class="col-span-12 md:col-span-8 order-1 md:order-2 md:pb-8">
                <form class="w-full max-w-3xl mx-auto text-left"
                      autocomplete="off"
                      action="/contact"
                      method="post">

                    <label class="block mb-8 cursor-pointer absolute left-[-800px] top-0">
                        <small>Name</small>
                        <input name="name"
                               autocomplete="off"
                               type="text"/>
                    </label>

                    <label class="block mb-8  cursor-pointer">
                        <small>Email</small>
                        <input class="block w-full p-3 rounded focus:bg-yellow-100 transition-colors duration-500 outline-0 text-gray-900"
                               name="email"
                               type="email"
                               placeholder="email@address.com"
                               required />
                    </label>

                    <label class="block mb-8 cursor-pointer">
                        <small>Message</small>
                        <textarea class="block w-full p-3 rounded focus:bg-yellow-100 transition-colors duration-500 outline-0 min-h-[15vh] text-gray-900"
                                  name="message"
                                  placeholder="your message"></textarea>
                    </label>
                    <button class="inline-block py-3 px-5 bg-gradient-to-b from-yellow-500 to-orange-400 font-semibold text-white rounded-lg md:hover:scale-110 transition-all duration-300">
                        <img class="w-5 h-5 animate-spin mr-1 hidden"
                             src="/static/spinner.svg"
                             alt="Loading"
                             title="Loading" />
                        <span class="text">Send</span>
                    </button>

                    <div class="success-message text-green-500 font-semibold hidden">
                        Thank you!<br />
                        Your contact message has been sent.
                    </div>

                    <div class="error-message text-red-500 font-semibold hidden">
                        I'm sorry!<br />
                        For some reason the contact message could not be sent.<br />
                        Please contact me via email instead: christian.kilb@gmail.com
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{ end }}
