{{ define "teaser" }}
<div class="bg-gradient-to-b from-slate-700 to-slate-950 overflow-hidden items-end">
    <div class="max-w-6xl grid gap-2 md:gap-8 grid-cols-12 items-end mx-auto">
        <div class="col-span-5 px-2">
            <img data-aos="zoom-out"
                 data-aos-duration="1500"
                 class="mt-8 aspect-square rounded-t-xl"
                 src="/static/img/{{ .TeaserImage }}.webp"
                 alt="Christian Kilb"
                 title="Christian Kilb"
                 width="1080"
                 height="1080"/>
        </div>
        <div class="col-span-7 pr-2 pb-5 md:pb-12">
            <h1 class="text-gray-50 text-2xl sm:text-3xl md:text-6xl mb-3 md:mb-5"
                data-aos="fade-up"
                data-aos-duration="1000">{{ .Headline }}</h1>
            <h2 class="animate__delay-1s text-gray-300 text-sm sm:text-xl md:text-2xl md:ml-1 mb-5 md:mb-8"
                data-aos="fade-up"
                data-aos-duration="1000"
                data-aos-delay="500">{{ .SubHeadline }}</h2>

            <div class="after:clear-both"
                 data-aos="fade-up text-[0px]"
                 data-aos-delay="750"
                 data-aos-duration="1000">
                <div class="block float-left md:ml-1">
                    <a class="inline-block h-8 md:h-12 leading-[2rem] md:leading-[3rem] px-3 md:px-5 bg-gradient-to-b from-yellow-500 to-orange-400 font-semibold text-white text-sm rounded-md opacity-90 md:hover:opacity-100 md:hover:scale-110 transition-all duration-300 no-underline"
                       href="#contact">Contact</a>
                </div>

                <div class="block float-left ml-2 md:ml-4">
                    <a href="https://www.linkedin.com/in/christian-kilb-93a8674b/"
                       target="_blank">
                        <img src="/static/linkedin.svg" alt="LinkedIn" title="LinkedIn" width="52" height="52"
                             class="inline-block h-8 w-8 md:h-12 md:w-12 rounded-md opacity-75 md:hover:opacity-100 md:hover:scale-110 transition-all duration-300" />
                    </a>
                </div>

                <div class="block float-left ml-2 md:ml-4">
                    <a href="https://www.xing.com/profile/Christian_Kilb2"
                       target="_blank">
                        <img src="/static/xing.svg" alt="Xing" title="Xing" width="52" height="52"
                             class="inline-block h-8 w-8 md:h-12 md:w-12 rounded-md opacity-75 md:hover:opacity-100 md:hover:scale-110 transition-all duration-300" />
                    </a>
                </div>

                <div class="block float-left ml-2 md:ml-4">
                    <a href="https://www.instagram.com/ck_dot/"
                       target="_blank">
                        <img src="/static/img/instagram.svg" alt="Instagram" title="Instagram" width="52" height="52"
                             class="inline-block h-8 w-8 md:h-12 md:w-12 rounded-md opacity-75 md:hover:opacity-100 md:hover:scale-110 transition-all duration-300" />
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>
{{ end }}
