{{ define "project_scroller" }}
<div class="bg-slate-800 p-3">
    <div class="hidden md:block text-center min-h-[10vh]">
        <a class="inline-block text-gray-50"
           href="#projects">
            <img class="w-14 md:hover:scale-125 transition-all duration-500"
                 src="/static/chevron-double-down.svg"
                 title="Scroll down"
                 alt="Scroll down"
                 width="56"
                 height="56" />
        </a>
    </div>
</div>
{{ end }}
