<!DOCTYPE html>
<html class="scroll-smooth" lang="en">
<head>
    <title>{{template "title" .}}</title>

    <meta name="description" content="{{ .MetaDescription }}">
    <meta name="author" content="Christian Kilb" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="index,follow" />

    <link rel="canonical" href="{{template "canonical" .}}" />
    <link rel="stylesheet" href="/static/build/style.css?id={{ .AssetId }}">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon/site.webmanifest">
    <link rel="mask-icon" href="/static/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/static/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/static/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <script src="/static/aos.js?id={{ .AssetId }}" defer></script>
    <script src="/static/script.js?id={{ .AssetId }}" defer></script>

    <style>
        @font-face {
            font-family: "Work Sans";
            src: url("/static/WorkSans.ttf") format("truetype-variations");
            font-weight: 1 999;
            font-display: swap;
        }
    </style>
</head>

<body class="bg-slate-900 text-gray-50 font-light relative leading-7">
    <header class="bg-slate-700 md:bg-transparent md:absolute top-0 left-0 w-full text-right p-3 text-xs md:text-base">
        <nav class="inline-block">
            <ul>
                <li class="inline-block ml-4">
                    <a class="md:opacity-75 md:hover:opacity-100 transition-all duration-500"
                       href="/static">About me</a>
                </li>
                <li class="inline-block ml-4">
                    <a class="md:opacity-75 md:hover:opacity-100 transition-all duration-500"
                       href="/spryker-freelancer">Spryker</a>
                </li>
                <li class="inline-block ml-4">
                    <a class="md:opacity-75 md:hover:opacity-100 transition-all duration-500"
                       href="https://github.com/ckilb/kilbtech"
                       target=" blank">
                        <img src="/static/gh.svg"
                             class="w-5 inline md:align-text-bottom"
                             width="50"
                             height="50"
                             alt="Github"
                             title="Github" />
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        {{template "main" .}}
    </main>
    <footer class="text-center my-5">
        <nav>
            <ul>
                <li>
                    <a class="text-xs opacity-75 md:hover:opacity-100"
                       href="/legal">Legal notice (Impressum)</a>
                </li>
            </ul>
        </nav>
    </footer>
</body>
